<template>
  <div>
    <button
      ref="destroyNote"
      @click.prevent="deleteNote"
      class="btn btn-danger"
    >
      Delete
    </button>
  </div>
</template>

<script>
export default {
  props: ["endpoint"],
  methods: {
    async deleteNote() {
      let q = window.confirm("Are you sure ?");
      if (q == true) {
        let response = await axios.delete(`/api/notes/${this.endpoint}`);
        if (response.status == 200) {
          this.$toasted.show(response.data.message, {
            type: "success",
            duration: 3000,
          });

          this.$refs.destroyNote.parentNode.parentNode.parentNode.remove();
        }
      }
    },
  },
};
</script>