<template>
  <div class="container">
    <h2>{{ note.title }}</h2>
    <div>{{ note.published }} | {{ note.subject }}</div>
    <hr />
    {{ note.description }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      note: [],
    };
  },

  mounted() {
    this.getNote();
  },

  methods: {
    async getNote() {
      let response = await axios.get(
        "/api/notes/" + this.$route.params.noteSlug
      );
      this.note = response.data.data;
    },
  },
};
</script>