<template>
  <div class="container">
    <h3>Table of Notes</h3>
    <hr />
    <table class="table">
      <thead class="thead-light">
        <th scope="col">Title</th>
        <th scope="col">Subject</th>
        <th scope="col">Published</th>
        <th scope="col" class="text-center">Action</th>
      </thead>
      <tbody>
        <tr v-for="note in notes" :key="note.slug">
          <td>
            <router-link
              :to="{ name: 'notes.show', params: { noteSlug: note.slug } }"
              >{{ note.title }}</router-link
            >
          </td>
          <td>{{ note.subject }}</td>
          <td>{{ note.published }}</td>
          <td class="d-flex justify-content-center">
            <router-link
              class="btn btn-primary mr-2"
              :to="{ name: 'notes.edit', params: { noteSlug: note.slug } }"
              >Edit</router-link
            >
            <delete-note :endpoint="note.slug" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import deleteNote from "./Delete.vue";
export default {
  components: {
    deleteNote: deleteNote,
  },

  data() {
    return {
      notes: [],
    };
  },

  mounted() {
    this.getNotes();
  },

  methods: {
    async getNotes() {
      let response = await axios.get("/api/notes");
      this.notes = response.data.data;
    },
  },
};
</script>